<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/user">Home</a>
            <a href="/user/register">Register</a>
            <a href="/user/login">Login</a>
            <a href="/user/profile">Profile</a>
            <a href="/user/logout">Logout</a>
        </nav>
    </header>
</body>
</html>